<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/font/fontawesome-free-5.15.4-web/css/all.min.css"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/cart.css">
    <title>Justin Store</title>
</head>
<body>
    <div id="main">
        <div class="header">
            <%- include('topbar.ejs') %>
        </div>
        <div class="content">
            <div class="content-cart-container">
                <div class="cart-title">
                      <p>Giỏ hàng của bạn</p> 
                </div>
                <div class="cart-list">
                    <% if(0 < data.cart.length){ %>
                        <% for (let i = 0;i < data.cart.length;i++) { %>
                    <div class="cart-item cart-item-<%=data.cart[i].visible_id_pro%>">
                       <div class="cart-item-img">
                           <img src="/img/<%=data.cart[i].image_path.slice(10)%>" width="60px" height="60px" alt="">
                       </div>
                       <div class="cart-item-content">
                           <div class="cart-item-title">
                            <a href="#"><%=data.cart[i].pro_name%></a>
                           </div>
                           <div class="cart-item-quanity">
                               <div class="item-quanity">
                                <i class="fas fa-minus" data-id="<%=data.cart[i].visible_id_pro%>"></i>
                                <input type="text" value ="<%=data.cart[i].pro_quantity%>"class="quanity-input" >
                                <i class="fas fa-plus" data-id="<%=data.cart[i].visible_id_pro%>"></i>
                               </div>
                               <div class="item-delete" data-id="<%=data.cart[i].visible_id_pro%>">
                                   Xóa
                               </div>
                           </div>
                       </div>
                       <div class="cart-item-total">
                        <%=data.cart[i].pro_price * data.cart[i].pro_quantity%>
                       </div>
                    </div> 
                    <% } %>
                <% } else { %>
                    <div></div>
                <% } %>
                     
                </div>
                <div class="cart-sale">
                   Thời gian giao hàng có thể thay đổi vì dịch bệnh covid-19!
                </div>
                <div class="cart-amount">
                    <div class="total">
                        <span>Tổng tiền: </span>
                        <label class="cart-total-all_product"for="">0<u>đ</u></label>
                    </div>
                    <div class="discount">
                        <span>Phí giao dự kiến: </span>
                        <label class="cart-ship-money" for="">0<u>đ</u></label>
                    </div>
                    <div class="total">
                        <span>Tổng tiền thanh toán: </span>
                        <label class="cart-total-money" for="">0<u>đ</u></label>
                    </div>
                </div>
                <div class="cart-buy-btn cart-btn">
                    <a href="#">Đặt hàng</a>
                </div>
                <div class="cart-cancle-btn cart-btn">
                    <a href="#">Xóa giỏ hàng</a>
                </div>
            </div>
        </div>
        <div class="cart-message message-hide">
            <%- include('message.ejs') %>
        </div>
    </div>
    <script src="/js/cart.js"></script>
</body>
</html>
